@property --time {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes milliseconds {
    to {
        --time: 1000000;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #1a1b26;
    --bg-chat: #24283b;
    --bg-user: #2f334d;
    --text-main: #a9b1d6;
    --text-button: #1a1b26;
    --accent: #7aa2f7;
    --input-bg: #292e42;
    --border-color: #404556;
    --bg-gradient: radial-gradient(circle at 50% 5%, #447f, #0003);
    --header-height: 60px;
    --footer-height: 20px;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
    --aside-height: 100vh;
    --aside-width: max(320px, 20vw);
    --main-width: calc(100vw - 2 * var(--aside-width));
    --base-font-size: 15px;
    font-size: var(--base-font-size);
    animation: milliseconds 1000000ms linear infinite;
}

@media (max-width: 1024px) {
    :root {
        --base-font-size: 13px;
    }
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Segoe UI', system-ui, sans-serif;
    position: relative;
    display: grid;
    gap: 0;
    grid-template:
        'L H R' var(--header-height)
        'L M R' var(--main-height)
        'L F R' var(--footer-height) / var(--aside-width) var(--main-width) var(--aside-width);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: var(--main-width);
    height: var(--main-height);
    grid-area: M;
    overflow: hidden auto;
    /* display: flex; */
    align-content: center;
}

aside {
    width: var(--aside-width);
    height: var(--aside-height);
    background-color: var(--bg-chat);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

aside.closed {
    width: 0;
    padding: 0;
    border-width: 0;
}

#leftSidebar {
    border-right-width: 1px;
    grid-area: L;
}

#rightSidebar {
    border-left-width: 1px;
    grid-area: R;
}

chat-output {
    position: relative;
}

chat-settings {
    position: relative;
    flex-shrink: 0;
    margin: 10px 20px;
}

checker-board {
    background-image: var(--bg-gradient);
    background-attachment: scroll;
    background-size: 100%;
    position: absolute;
    width: 100%;
    display: grid;
    /* flex-direction: column; */
    height: 100%;
    place-items: center;
    top: 0;
    bottom: 0;
}

@media (max-width: 800px) {
    :root {
        --aside-width: 50vw;
        --main-width: 100vw;
        --aside-height: calc(50vh - 60px);
        --main-height: calc(50vh - 20px);
    }
    body {
        grid-template:
            'H H' var(--header-height)
            'L R' var(--aside-height)
            'M M' var(--main-height)
            'F F' var(--footer-height) / var(--aside-width) var(--aside-width);
    }
}
header,
footer {
    width: calc(2px + 100%);
    background-color: var(--bg-chat);
    padding: 20px;
    display: flex;
    flex-direction: column;
    left: -1px;
    right: -2px;
    position: relative;
    overflow: hidden;
}
header {
    height: 100%;
    grid-area: H;
    border-bottom: 1px solid var(--border-color);
}
footer {
    height: 100%;
    grid-area: F;
    border-top: 1px solid var(--border-color);
}
