html {
    --c000: #f3f4f6;
    --c100: #d9dde4;
    --c200: #c6ccd7;
    --c300: #9aa4b7;
    --c400: #808b9e;
    --c500: #646d7c;
    --c600: #484e59;
    --c700: #32363e;
    --c800: #272a30;
    --c900: #1b1e22;
    --bg-main: var(--c000);
    --bg-chat: var(--c200);
    --bg-user: var(--c300);
    --input-bg: var(--c200);
    --text-button: var(--c000);
    --text-inverse: var(--c000);
    --text-main: var(--c700);
    --text-emphasis: var(--c800);
    --text-strong: var(--c900);
    --border-color: var(--c400);
    --cta: #59114d;
    --accent: #3a92b6;
    --bg-gradient: radial-gradient(circle at 50% 5%, var(--c000) 0%, var(--c100) 45%, var(--c500) 100%);

    @media (prefers-color-scheme: dark) {
        --accent: #7aa2f7;
        --bg-main: var(--c800);
        --bg-chat: var(--c800);
        --bg-user: var(--c900);
        --input-bg: var(--c700);
        --text-button: var(--c900);
        --text-inverse: var(--c900);
        --text-main: var(--c200);
        --text-emphasis: var(--c100);
        --text-strong: var(--c000);
        --border-color: var(--c500);
        --bg-gradient: radial-gradient(circle at 50% 5%, var(--c500), var(--c900) 60%),
            radial-gradient(circle at -10% 10%, var(--c700), var(--c900) 70%),
            radial-gradient(circle at 110% 10%, var(--c700), var(--c900) 70%);
    }
}
